.HomeHeader {
    max-height: 6vh;
    min-height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 40px;
    padding-top:15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(200,200, 200,.3);
   
  }

.Logo {
  margin : 0;
  max-width: 38px;
  max-height: 38px;
}

.CreateButton {
  background-color: #2e71e6;
  color: white;
  height: calc(100% - .8rem); /* Subtract padding to avoid overflow */
  padding:.8rem;
  font-family: 'Manrope';
  font-size: calc(.9rem + 0.05rem * (100% - 20px)); /* Adjust multipliers as needed */
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}